h4 {
	text-align: left;
}
p {
	text-align: left;
	text-transform: none;
}


.aboutMeSection {
	padding-top: 70px;
	padding-bottom: 30px;
	font-weight: 100;
}

.contactInfoSection {
	color: white;
}

.contactInfoSection h4{
  text-transform: none;
  text-align: center
}

.contactInfoSection i {
	padding-right: 8px;
}

.title {
	font-size: 40px;
}

.aboutBottomQuote {
	padding-top: 10px;
	padding-bottom: 20px;
}

.aboutBottomQuote {
}

