
.panel-info, .panel-rating, .panel-more1 {
}

.panel-info {
	margin-bottom: 20px;
	padding-bottom: 20px;
	border-bottom: 1px dotted grey;
}

.panels {
	padding: 10px;
	padding-top: 50px;
}


@media screen and (min-width: 486px;) {
  .panels {
    padding: 40px 40px;
  }
}