.mainVideo {
	background: url("http://www.lorempixel.com/1300/400/abstract/9");
	background-size: cover;
	height: 400px;
}

.mainVideo h3{
	text-align: center;
	border: 1px solid white;
	padding: 10px;
	width: 240px;
	margin-left: auto;
	margin-right: auto;
	margin-top: 20%;
}

.recentVideos {
	min-height: 300px;
	padding-top: 80px;
	padding-bottom: 40px;
}

.recentVideos h4 {
	text-align: center;
	margin-bottom: 30px;
}